RewriteEngine on

# Hide the application and system directories by redirecting the request to index.php
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]

php_value date.timezone "America/Los_Angeles"